@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Passion+One:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}


body {
  /* margin-top: 70px; */
  box-sizing: content-box;
  width: 100%;
	background-color: rgb(199, 219, 221);
	font-family: 'Inter';
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  height: 70px;
  width: 100%; 
  background-color: rgb(10, 26, 59);
  color: rgb(77, 79, 185);
}

header h1 {
  padding-left: 20px;
}

nav {
  padding-right: 100px;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav li {
  display: inline-block;
}

#introduction-box {
  /* margin-top: 70px; */
  background-color: rgb(247, 157, 157);
}

#introduction-box h2 {
  padding-top: 10px;
  padding-left: 10px;
}

#introduction-box article:first-child {
  padding-top:75px ;
}

#introduction-box h3 {
  /* margin-top: 5px; */
  padding-top:10px ;
  padding-left: 30px;
}

#introduction-box article ul {
  list-style-type: circle;
}

#introduction-box p {
  max-width: 1000px;
  margin-top: 20px;
  margin-left: 40px;
  margin-bottom: 20px;
}

#introduction-box em {
  padding-top:10px ;
  padding-left: 30px;
  /* margin-bottom: 100px; */
}

#introduction-box img {
  margin: 50px;
  /* width:fit-content; */
}





#box-model-box {
  background-color: #a0c29e;
}
#position-box {
  background-color: rgb(183, 144, 183);
}

#display-box {
  background-color: rgb(232, 232, 105);
}
.vampire-theme {
	color: #f8f8f2; /* Cor do texto */
  background-color: #282a36;
}

.selector {
	color: #ff79c6;
}

.attribute {
	color:#bd93f9
}

.value {
	color: #8be9fd
}

.box-code {
	background-color: #282a36;
	/* width: 1000px; */
	height: 150px;
}

/* h2, h3 {
	margin: 10px;
}

li {
	margin: 8px;
}

p {
	margin: 8px;
}

img {
	width: 500px;
} */

/* .code-block {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    font-family: "Courier New", monospace;
    font-size: 14px;
    line-height: 1.5;
}

.code-block code {
    color: #333;
  }
   */